<div class="container-fluid">

    <div class="container-fluid" style="padding: 20px;color: white;background-color: #4e73df ;">

        <span style="font-weight: 300;font-size: 30px;"> About Us </span> <br>

        <p> Project Auxilium was developed in the midst of the Covid-19 pandemic to help service providers get in touch
            with the people who needed these services. An Individual can host services like Offering Food, Jobs or
            Shelter to
            help the people around them who lost their jobs and homes because of the pademic or due to a natural
            calmity. Our mission
            statement is 'To Help you Help others'. Our tag line is 'Leave a footprint of Kindness' because we believe
            that the ones
            who get helped today will help someone else another day and together, make the world a better place.
        </p>

        <div class="row" style="margin:0">
            <div class="col-md"
                style="background-color: #224abe ;color: white;padding: 20px;margin-right: 10px;margin-top: 10px;">
                <span style="font-weight: 300;font-size: 30px;"> Provide services </span> <br>
                <p> If you are interested in helping someone around you, click on the 'Post a new service' under the
                    'Provide services' tab,
                    choose a category you wish to provide the service under, add a description about the service you
                    want to
                    provide and
                    click on 'Post a new service'. You will be prompted a map to choose the location where you will be
                    hosting your service
                    and click on 'Select the Location'. Now your service is posted and it can be viewed in the 'Recent
                    services posted'
                    button under the 'Provide services' tab. </p>
            </div>
            <div class="col-md"
                style="background-color: #224abe;color: white;padding: 20px;margin-right: 10px;margin-top: 10px;">
                <span style="font-weight: 300;font-size: 30px;"> Need services </span> <br>
                <p>
                    If you are looking for services around you like Food distribution, Small Jobs or a temporary place
                    to
                    stay, you can
                    click on the 'Find services' button under the 'Need services?' tab, type the service you want and
                    click
                    on the 'Search'
                    button. A map will pop up for you to input your current location. You will get a list of related
                    services near you.
                    Choose the service you want and head to the location pointed on the map.
                </p>
            </div>
        </div>
    </div>

</div>